html, body {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@font-face {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #313D6C;
}

.content-grid {
  display: grid;
  min-height: 100vh;
  grid-template-columns: [menu-start] 37% [menu-end content-start] 63% [content-end];
  grid-template-rows: auto;
}

.menu {
  position: fixed;
  grid-column: menu-start / menu-end;
  height: 100vh;
  width: 37%;
  background-color: #FAE8A5;
  display: flex;
  align-items: center;
}

.menu-text {
  width: 15rem;
  margin: 0 auto;
  z-index: 1;
  text-align: right;
  vertical-align: middle;
  background-image: url("../images/blob1.svg");
  background-repeat: no-repeat;
}

ul {
  list-style-type: none;
  font-size: 2em;
  color: #313D6C;
  font-weight: 700;
}

li {
  padding: 1em 0;
}

li:first-child {
  padding-top: 0;
}

li a, table a {
  color: inherit;
}

.toucan-image {
  grid-column: content-start / content-end;
  height: 100vh;
  background-image: url("../images/toucan.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  text-align: right;
}

.toucan-image h1 {
  color: white !important;
  padding: 3%;
}

.toucan-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about h1 {
  margin: 2rem;
}

#about {
  display: inline-block;
  grid-column: content-start / content-end;
  padding: 3%;
  font-size: 2rem;
}

#about img {
  width: 300px;
  top: 0;
  padding-bottom: 3%;
}

#work {
  grid-column: content-start / content-end;
}

.work-grids {
  display: grid;
  height: auto;
  /* width: 100%; */
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  text-align: center;
}

.work-grids>*:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.work-grids>* {
  border: 1px solid white;
  padding-bottom: 100%;
}

.work-entry {
  background-color: #313D6C;
  position: relative;
  text-align: center;
}

.entry-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  height: 100%;
}

.entry-content h1 {
  color: white;
  font-weight: 700;
  text-align: center;
}

#contact {
  grid-column: content-start / content-end;
  padding: 3%;
  font-size: 1.5rem;
  color: #313D6C;
  line-height: 2;
  height: 200px;
}

#contact>table {
  width: 100%;
}

footer {
  grid-column: content-start / content-end;
  height: 70px;
  background-color: #313D6C;
  color: white;
  line-height: 70px;
  text-align: center;
}

footer p {
  margin: 0;
}
